.App {
  text-align: center;

  display: flex;
  justify-content: space-around;
  margin-right: 80px;
  margin-left: 80px;
}
.tttt {
  background: rgba(0, 0, 0, 0.7) url("../public/personage.jpg");
  background-blend-mode: color-burn;
  margin-top: 60px;
}

.cards {
  background-color: #79ae2a;
  /* margin-top: 50px; */
  margin: 50px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 30px;
  box-shadow: 1px 1px 1px rgb(248, 246, 246);
  border-radius: 10px 100px / 120px;
  display: flex;
  justify-content: space-between;
}
.image {
  border-radius: 100% 100% 100% 100%;
  box-shadow: 3px 3px 10px rgb(3, 3, 3);
}

.boutton {
  background-color: blue;
  padding: 6px;
}
.text {
  color: rgb(255, 255, 255);
}
.aa {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
